<html>

<head>
    <title>Home Page</title>
   
</head>

<div ALIGN="CENTER">

    <h2>Welcome To Shopping World !!</h2>

    <form action="/login " method="GET">
        <input name="Submit" type="Submit" value="Login" />
    </form>

    <form action="/register " method="GET">
        <input name="Submit" type="Submit" value="Register" />
    </form>

</div>



</html>