<html>

<head>
    <title>Sell and Buy</title>
</head>
<h1 ALIGN="CENTER">Welcome <%=firstName%> </h1>
<h2 ALIGN="CENTER"> Select Below Option</h2>

<div ALIGN="CENTER">
    <form  action="/user/sell" method="POST">
        <input name="Submit" type="Submit" value="Sell Product"/>
     </form>
     
     <form  action="/user/buy" method="POST"></form>
     <input name="Submit" type="Submit" value="Buy Product"/>
     
     </form>
     
</div>

</html>