<html>
<head>
<title> Login </title>
</head>

<h2 ALIGN="CENTER"> Login</h2>

<form action="/login/dashboard" method="POST">
<table border="0" align="center">
<tbody>
<tr>
<td><label for="email">Email :</label></td>
<td><input placeholder="Enter Email" id="email" maxlength="50" name="email" type="text" /></td>
</tr>

<tr>
<td><label for="password">Password:</label></td>
<td><input placeholder="Enter Password" id="password" maxlength="50" name="password"
type="password" /></td>
</tr>

<tr>
<td align="center"><input name="Submit" type="Submit" value="Submit" /></td>
</tr>

</tbody>
</table>
</form>
</html>